body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

.links {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 20px;
}

.links li a {
  display: inline-block;
  padding: 15px 30px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.links li a:hover {
  background-color: #2980b9;
}

.outside-container {
  text-align: center;
  margin-top: 20px; /* Ajusta el valor según sea necesario para el espaciado */
}
